@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Amaranth", sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}

/* ----- HEADER ----- */

a, a:visited, a::hover {
    color: inherit;
    text-decoration: none;
}
a:focus, a:active {
    outline: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
ul{
    list-style: none;
}
img{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.container{
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo{
    font-size: 26px;
    letter-spacing: 2px;
    color: rgb(63, 55, 55);
}
.header-nav a{
    font-size: 23px;
    color: #423434;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Comfortaa", sans-serif;
}
.header-nav ul{
    display: flex;
}
.header-nav li + li {
    margin-left: 40px;
}
.header-nav a:hover{
    color: rgb(0, 0, 0);
}
.header-nav a:active{
    color: rgb(0, 0, 0);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 30px 0;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* ----- WELCOME ----- */

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-image: url(bg.jpg);
    padding: 200px 0;
}
.welcome-main{
    color: #28356b;
    font-family: "Comfortaa", sans-serif;
    font-size: 80px;
    line-height: 150px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-right: 800px;
    padding-top: 180px;
}

.common-section{
    text-align: center;
    padding: 80px 0;
}
.title-wrapper{
    margin-bottom: 60px;
}
.popular-countries .cards{
    display: flex;
    justify-content: space-between;
}
.popular-countries .card{
    width: 390px;
    padding: 35px 15px 20px;
    border: 1px solid #423434;
    border-radius: 10px;
    letter-spacing: 1.5px;
    line-height: 25px;
}
.popular-countries .card h4{
    font-size: 25px;
    color: black;
    margin: 10px;
}
p{
    color: #311f1f;
}
.title{
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.subtitle{
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 3px;
}
.popular-places{
    background-color: #dad7d7;
}
.popular-places .cards{
    display: flex;
    justify-content: space-between;
}
.popular-places .card h4{
    font-size: 19px;
    color: black;
    margin: 10px;
}
.popular-places .card{
    margin: 20px;
    border: 3px #c4a2a2 solid;
    border-radius: 8px;
    padding: 35px 15px 20px;
    letter-spacing: 1.5px;
    line-height: 25px;
}